<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Arkiva.MonitorFiscal.Checklist.Properties.Settings.connectionString"
            connectionString="Data Source=MONITOR\SQLEXPRESS;Initial Catalog=MFSQL_MonitorBackOffice;Persist Security Info=True;User ID=sa;Password=Ark1V@.$Ql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>